@keyframes dialog_show {
    0% {
        opacity: 0;
        transform: translateY(5vh);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes dialog_dismiss {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(5vh);
    }
}

@keyframes mask_show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes mask_dismiss {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
