<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1" name="viewport">
    <title>首页</title>
    <script src="/js/jquery-3.7.1.min.js"></script>
    <link href="/font/opposans_r.ttf" rel="preload" type="font/truetype" as="font" crossorigin="">
    <link href="/font/opposans_m.ttf" rel="preload" type="font/truetype" as="font" crossorigin="">
    <link href="/font/opposans_b.ttf" rel="preload" type="font/truetype" as="font" crossorigin="">
    <link href="/font/opposans_h.ttf" rel="preload" type="font/truetype" as="font" crossorigin="">
    <link rel="stylesheet" type="text/css" href="/css/font.css">
    <link rel="stylesheet" type="text/css" href="/css/default.css">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="stylesheet" type="text/css" href="/css/anim.css">
    <script src="/js/utils.js"></script>
    <script src="/js/index.js"></script>
</head>
<body>

<div class="appHeader">
    <div class="appLogoBody">
        <div class="appTitleBody">
            <p class="appTitle">首页</p>
            <p class="appDescription">一站式音乐版权管理平台</p>
        </div>
    </div>
    <div class="actionBody">
        <button class="btn primary" onclick="showMusicDialog()">新增音乐</button>
        <button class="btn primary" onclick="showCodeDialog()">为选中音乐添加认证码</button>
        <button class="btn primary" onclick="jumpCodeDialog()">查看选中音乐认证码</button>
    </div>
</div>

<div class="content">
    <div class="header">
        <div class="headerItem">#编号</div>
        <div class="headerItem">歌曲名</div>
        <div class="headerItem">专辑名</div>
        <div class="headerItem">艺术家名</div>
        <div class="headerItem">钱包地址</div>
        <div class="headerItem">创建时间</div>
    </div>
    <div class="coBody">
    </div>
</div>

<div class="dialog" id="addMusicDialog">
    <div class="dialogBody">
        <div class="dialogTitle">新增一首音乐</div>
        <div class="dialogSubtitle">填写表单以新增一首音乐</div>
        <div class="formItem">
            <input aria-label="音乐名" id="musicName" name="musicName" placeholder="输入音乐名">
            <p class="inputHeader">音乐名</p>
        </div>
        <div class="formItem">
            <input aria-label="专辑名" id="albumName" name="albumName" placeholder="输入专辑名">
            <p class="inputHeader">专辑名</p>
        </div>
        <div class="formItem">
            <input aria-label="艺术家名" id="artistName" name="artistName" placeholder="输入艺术家名">
            <p class="inputHeader">艺术家名</p>
        </div>
        <div class="formItem">
            <input aria-label="钱包地址" id="address" name="address" placeholder="输入钱包地址">
            <p class="inputHeader">钱包地址</p>
        </div>
        <div class="formItem">
            <input aria-label="钱包私钥" id="privateKey" name="privateKey" placeholder="输入钱包私钥">
            <p class="inputHeader">钱包私钥</p>
        </div>
        <div class="btnBox">
            <button class="btn danger" onclick="closeMusicDialog()">取消</button>
            <button class="btn primary" onclick="handleConfirm()">提交</button>
        </div>
    </div>
</div>

<div class="dialog" id="addCodeDialog">
    <div class="dialogBody">
        <div class="dialogTitle">验证你的身份</div>
        <div class="dialogSubtitle">新增认证码需要验证钱包私钥</div>
        <div class="formItem">
            <input aria-label="钱包私钥" id="codePrivateKey" name="codePrivateKey" placeholder="填写钱包私钥">
            <p class="inputHeader">钱包私钥</p>
        </div>
        <div class="btnBox">
            <button class="btn danger" onclick="closeCodeDialog()">取消</button>
            <button class="btn primary" onclick="addCode()">继续</button>
        </div>
    </div>
</div>

<div class="dialog" id="jumpCodeDialog">
    <div class="dialogBody">
        <div class="dialogTitle">验证你的身份</div>
        <div class="dialogSubtitle">查看认证码需要验证钱包私钥</div>
        <div class="formItem">
            <input aria-label="钱包私钥" id="jumpCodePrivateKey" name="codePrivateKey" placeholder="填写钱包私钥">
            <p class="inputHeader">钱包私钥</p>
        </div>
        <div class="btnBox">
            <button class="btn danger" onclick="closeJumpCodeDialog()">取消</button>
            <button class="btn primary" onclick="jumpCode()">继续</button>
        </div>
    </div>
</div>

<div class="mask"></div>

</body>

</html>